
/*=============================================
  DEFAULT VALUES:

  Font family   : Robot Condensed

  Greenish Blue : #34C6D3   (Buttons, Icons, Links, Lines & Backgrounds)
  Steel Gray    : #41464B   (Headings)
  Blue Bayoux   : #64707B   (Paragraphs)
  White         : #FFFFFF   (Text with dark background)
  Black         : #000000
=============================================*/

/* General CSS */
html, body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h3 {
  text-transform: uppercase;
}

/*=============================================
  Home
=============================================*/
#home {
  height: 100%;
}
